In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('alt_fuel_stations.csv')

In [3]:
df.shape

(2759, 65)

In [4]:
new_charging_locs = df[df['City'] == 'Albany']

In [5]:
new_charging_locs.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
21,ELEC,Destination Nissan,770 Central Ave,NaN,Albany,NY,12206,NaN,518-438-8461,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,ELEC,TRICITYRENTALS WOODLAKE 2,61 Woodlake Rd N,NaN,Albany,NY,12203,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,ELEC,Albany International Airport,737 Albany Shaker Rd,Located in the long-term parking lot and the g...,Albany,NY,12205,NaN,518-242-2299 866-816-7584,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOLAR,NaN
91,ELEC,Price Chopper,1060 Madison Ave,NaN,Albany,NY,12208,NaN,518-438-6241,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,ELEC,Hampton Inn - Albany,10 Ulenski Dr,NaN,Albany,NY,12205,NaN,518-438-2822,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

In [ ]:
df1 = pd.read_csv('Charging Stations by Network .csv')

In [ ]:
df1.head()

In [ ]:
final_dataset = pd.merge(df,df1)

In [ ]:
final_dataset.head()

In [ ]:
print(final_dataset.columns)

In [ ]:
final_dataset = final_dataset[final_dataset['City'] == 'Albany']

In [ ]:
final_dataset.head()

In [ ]:
final_dataset.shape

In [ ]:
final_dataset.isnull().sum()

In [ ]:
final_dataset = final_dataset.loc[:, final_dataset.isnull().mean() < .9]

In [ ]:
final_dataset.shape

In [ ]:
print(final_dataset.columns)

In [ ]:
X=final_dataset.iloc[:,1:]
y=final_dataset.iloc[:,0]

In [ ]:
X.head()

In [ ]:
y.head()